snippet frame
\begin{frame}
  \frametitle{$0}
\end{frame}
endsnippet

snippet itemize
\begin{itemize}
  \item $0
\end{itemize}
endsnippet

snippet split
\begin{columns}[T]
  \begin{column}{.48\textwidth}
    $1  
  \end{column}%
  \begin{column}{.48\textwidth}
    $2
  \end{column}%
\end{columns}
endsnippet
